<nav class="navbar navbar-expand-sm navbar-da" style="background-color:black">
    <div class="container-fluid">    
       
    <ul class = "nav navbar-nav">
        
        
        
        <button onclick="history.back()"class="btn btn-primary navbar-btn">Go Back</button>      
        
    </ul>

    </div>
</nav>
<div class="about-section">
    <h1>About Us </h1>
    <p>At HotelMaster.com, we believe that all great properties deserve to be discovered. That’
        s why we make it quick and easy for accommodation providers all around the world to
         market their properties, reach new customers and grow their business via our platform.</p>

 
    <p>Whether you want to stay in a chic city apartment, a luxury beach resort or a cosy B&B in the countryside, HotelMaster.com provides you with amazing diversity and breadth of choice - all in one place.
        
       
        HotelMaster.com guarantees to offer you the best available rates. And with our promise to price match, you can rest assured that you’re always getting a great deal.
        
    
         At HotelMaster.com, every reservation is instantly confirmed. Once you’ve found your perfect stay, a few clicks are all it takes.
        
          
         We don’t charge you any booking fees or add any administrative charges. And in many cases, your booking can be cancelled free of charge.</p>
  </div>
  
  
    

